# 数据匹配

In [ ]:
# merge() 类似于excel中的vlookup()函数

In [ ]:
# 例子：
#     一张表中，有学号和姓名，
#     另一张表中，有学号和手机号。
#     中间排序可能不一样。
#     要求把两张表合并到一起去

In [2]:
import pandas as pd

In [16]:
st1 = pd.DataFrame({
    'id':[202403,202402,202401,202405],
    'name':['老张','老王','老李','老刘']
})
st2 = pd.DataFrame({
    'id':[202401,202402,202403,202404],
    'tel':[100,101,102,10003]
})
print(st1,st2,sep='\n\n')

       id name
0  202403   老张
1  202402   老王
2  202401   老李
3  202405   老刘

       id    tel
0  202401    100
1  202402    101
2  202403    102
3  202404  10003

In [20]:
pd.merge(st1,st2,on='id',how='left')

       id name    tel
0  202403   老张  102.0
1  202402   老王  101.0
2  202401   老李  100.0
3  202405   老刘    NaN

In [22]:
pd.merge(st1,st2,on='id',how='right')

       id name    tel
0  202401   老李    100
1  202402   老王    101
2  202403   老张    102
3  202404  NaN  10003

In [24]:
pd.merge(st1,st2,on='id',how='outer')

       id name      tel
0  202401   老李    100.0
1  202402   老王    101.0
2  202403   老张    102.0
3  202404  NaN  10003.0
4  202405   老刘      NaN

In [ ]:
df.

In [ ]:
# dl 表示表格 中 序列
# 并且满足序列类型为数字类型
dl.count()
dl.min()
d1.idxmin() #最小值的位置
dl. dedian() #中位数
d1.describe() #一次性输出多个描述性统计指标
d1.mode() #众数
d1.var()  #方差
d1.std()  #标准差
d1.sum()  #求和
d1.mean() #平均值

# 实验1：数据预处理

In [ ]:
# 对i_nuc.xls文件进行预处理

In [1]:
import pandas as pd

In [14]:
df0 = pd.read_excel('data/i_nuc.xls',sheet_name='Sheet3')
df0

            学号        班级   姓名 性别  英语   体育  军训    数分    高代  解几
0   2308024241  23080242   成龙  男  76  7.8  77  40.0  23.0  60
1   2308024244  23080242   周怡  女  66  9.1  75  47.0  47.0  44
2   2308024251  23080242   张波  男  85  8.1  75  45.0  45.0  60
3   2308024249  23080242   朱浩  男  65  5.0  80  72.0  62.0  71
4   2308024219  23080242   封印  女  73  8.8  92  61.0  47.0  46
5   2308024201  23080242   迟培  男  60  5.0  89  71.0  76.0  71
6   2308024347  23080243   李华  女  67  6.1  84  61.0  65.0  78
7   2308024307  23080243   陈田  男  76  7.9  86  69.0  40.0  69
8   2308024326  23080243   余皓  男  66  6.7  85  65.0  61.0  71
9   2308024320  23080243   李嘉  女  62  0.0  90  60.0  67.0  77
10  2308024201  23080242   迟培  男  60  5.0  89  71.0  76.0  71
11  2308024342  23080243  李上初  男  76  9.0  84  60.0  66.0  60
12  2308024310  23080243   郭窦  女  79  6.7  84  64.0  64.0  79
13  2308024435  23080244  姜毅涛  男  77  7.1  缺考  61.0  73.0  76
14  2308024432  23080244   赵宇  男  74  7.4  88  68.0  70.0  71
15  2308024446  23080244   周路  女  76  8.0  77   NaN  74.0  80
16  2308024421  23080244  林建祥  男  72  7.2  81  63.0  90.0  75
17  2308024433  23080244  李大强  男  79  7.6  77  78.0   NaN  70
18  2308024428  23080244  李侧通  男  64  9.6  91  69.0  60.0  77
19  2308024402  23080244   王慧  女  73  7.4  93  70.0  71.0  75
20  2308024422  23080244  李晓亮  男  85  6.0  85  72.0  72.0  83

In [16]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   学号      21 non-null     int64
 1   班级      21 non-null     int64
 2   姓名      21 non-null     object
 3   性别      21 non-null     object
 4   英语      21 non-null     int64
 5   体育      21 non-null     float64
 6   军训      21 non-null     object
 7   数分      20 non-null     float64
 8   高代      20 non-null     float64
 9   解几      21 non-null     int64
dtypes: float64(3), int64(4), object(3)
memory usage: 1.8+ KB

### 第一步，处理重复值

In [19]:
# 查询重复值
df0.duplicated('学号')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
dtype: bool

In [21]:
# 删除重复行
df = df0.drop_duplicates()
df

            学号        班级   姓名 性别  英语   体育  军训    数分    高代  解几
0   2308024241  23080242   成龙  男  76  7.8  77  40.0  23.0  60
1   2308024244  23080242   周怡  女  66  9.1  75  47.0  47.0  44
2   2308024251  23080242   张波  男  85  8.1  75  45.0  45.0  60
3   2308024249  23080242   朱浩  男  65  5.0  80  72.0  62.0  71
4   2308024219  23080242   封印  女  73  8.8  92  61.0  47.0  46
5   2308024201  23080242   迟培  男  60  5.0  89  71.0  76.0  71
6   2308024347  23080243   李华  女  67  6.1  84  61.0  65.0  78
7   2308024307  23080243   陈田  男  76  7.9  86  69.0  40.0  69
8   2308024326  23080243   余皓  男  66  6.7  85  65.0  61.0  71
9   2308024320  23080243   李嘉  女  62  0.0  90  60.0  67.0  77
11  2308024342  23080243  李上初  男  76  9.0  84  60.0  66.0  60
12  2308024310  23080243   郭窦  女  79  6.7  84  64.0  64.0  79
13  2308024435  23080244  姜毅涛  男  77  7.1  缺考  61.0  73.0  76
14  2308024432  23080244   赵宇  男  74  7.4  88  68.0  70.0  71
15  2308024446  23080244   周路  女  76  8.0  77   NaN  74.0  80
16  2308024421  23080244  林建祥  男  72  7.2  81  63.0  90.0  75
17  2308024433  23080244  李大强  男  79  7.6  77  78.0   NaN  70
18  2308024428  23080244  李侧通  男  64  9.6  91  69.0  60.0  77
19  2308024402  23080244   王慧  女  73  7.4  93  70.0  71.0  75
20  2308024422  23080244  李晓亮  男  85  6.0  85  72.0  72.0  83

### 第二步：处理缺失值和异常值

In [25]:
df.isnull()

       学号     班级     姓名     性别     英语     体育     军训     数分     高代     解几
0   False  False  False  False  False  False  False  False  False  False
1   False  False  False  False  False  False  False  False  False  False
2   False  False  False  False  False  False  False  False  False  False
3   False  False  False  False  False  False  False  False  False  False
4   False  False  False  False  False  False  False  False  False  False
5   False  False  False  False  False  False  False  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False  False  False  False  False  False  False  False  False
8   False  False  False  False  False  False  False  False  False  False
9   False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False
12  False  False  False  False  False  False  False  False  False  False
13  False  False  False  False  False  False  False  False  False  False
14  False  False  False  False  False  False  False  False  False  False
15  False  False  False  False  False  False  False   True  False  False
16  False  False  False  False  False  False  False  False  False  False
17  False  False  False  False  False  False  False  False   True  False
18  False  False  False  False  False  False  False  False  False  False
19  False  False  False  False  False  False  False  False  False  False
20  False  False  False  False  False  False  False  False  False  False

In [27]:
# 判断哪些‘列’存在缺失值
df.isnull().any()

学号    False
班级    False
姓名    False
性别    False
英语    False
体育    False
军训    False
数分     True
高代     True
解几    False
dtype: bool

In [29]:
# 只显示缺失值位置
df[df.isnull().values==True]

            学号        班级   姓名 性别  英语   体育  军训    数分    高代  解几
15  2308024446  23080244   周路  女  76  8.0  77   NaN  74.0  80
17  2308024433  23080244  李大强  男  79  7.6  77  78.0   NaN  70

### 1、删除 缺失值

In [32]:
new_df = df.dropna()
new_df

            学号        班级   姓名 性别  英语   体育  军训    数分    高代  解几
0   2308024241  23080242   成龙  男  76  7.8  77  40.0  23.0  60
1   2308024244  23080242   周怡  女  66  9.1  75  47.0  47.0  44
2   2308024251  23080242   张波  男  85  8.1  75  45.0  45.0  60
3   2308024249  23080242   朱浩  男  65  5.0  80  72.0  62.0  71
4   2308024219  23080242   封印  女  73  8.8  92  61.0  47.0  46
5   2308024201  23080242   迟培  男  60  5.0  89  71.0  76.0  71
6   2308024347  23080243   李华  女  67  6.1  84  61.0  65.0  78
7   2308024307  23080243   陈田  男  76  7.9  86  69.0  40.0  69
8   2308024326  23080243   余皓  男  66  6.7  85  65.0  61.0  71
9   2308024320  23080243   李嘉  女  62  0.0  90  60.0  67.0  77
11  2308024342  23080243  李上初  男  76  9.0  84  60.0  66.0  60
12  2308024310  23080243   郭窦  女  79  6.7  84  64.0  64.0  79
13  2308024435  23080244  姜毅涛  男  77  7.1  缺考  61.0  73.0  76
14  2308024432  23080244   赵宇  男  74  7.4  88  68.0  70.0  71
16  2308024421  23080244  林建祥  男  72  7.2  81  63.0  90.0  75
18  2308024428  23080244  李侧通  男  64  9.6  91  69.0  60.0  77
19  2308024402  23080244   王慧  女  73  7.4  93  70.0  71.0  75
20  2308024422  23080244  李晓亮  男  85  6.0  85  72.0  72.0  83

### 2、替代

In [35]:
df.fillna('?')

            学号        班级   姓名 性别  英语   体育  军训    数分    高代  解几
0   2308024241  23080242   成龙  男  76  7.8  77  40.0  23.0  60
1   2308024244  23080242   周怡  女  66  9.1  75  47.0  47.0  44
2   2308024251  23080242   张波  男  85  8.1  75  45.0  45.0  60
3   2308024249  23080242   朱浩  男  65  5.0  80  72.0  62.0  71
4   2308024219  23080242   封印  女  73  8.8  92  61.0  47.0  46
5   2308024201  23080242   迟培  男  60  5.0  89  71.0  76.0  71
6   2308024347  23080243   李华  女  67  6.1  84  61.0  65.0  78
7   2308024307  23080243   陈田  男  76  7.9  86  69.0  40.0  69
8   2308024326  23080243   余皓  男  66  6.7  85  65.0  61.0  71
9   2308024320  23080243   李嘉  女  62  0.0  90  60.0  67.0  77
11  2308024342  23080243  李上初  男  76  9.0  84  60.0  66.0  60
12  2308024310  23080243   郭窦  女  79  6.7  84  64.0  64.0  79
13  2308024435  23080244  姜毅涛  男  77  7.1  缺考  61.0  73.0  76
14  2308024432  23080244   赵宇  男  74  7.4  88  68.0  70.0  71
15  2308024446  23080244   周路  女  76  8.0  77     ?  74.0  80
16  2308024421  23080244  林建祥  男  72  7.2  81  63.0  90.0  75
17  2308024433  23080244  李大强  男  79  7.6  77  78.0     ?  70
18  2308024428  23080244  李侧通  男  64  9.6  91  69.0  60.0  77
19  2308024402  23080244   王慧  女  73  7.4  93  70.0  71.0  75
20  2308024422  23080244  李晓亮  男  85  6.0  85  72.0  72.0  83

In [37]:
df.fillna(method='pad')

C:\Users\BACK\AppData\Local\Temp\ipykernel_40656\196241153.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='pad')

            学号        班级   姓名 性别  英语   体育  军训    数分    高代  解几
0   2308024241  23080242   成龙  男  76  7.8  77  40.0  23.0  60
1   2308024244  23080242   周怡  女  66  9.1  75  47.0  47.0  44
2   2308024251  23080242   张波  男  85  8.1  75  45.0  45.0  60
3   2308024249  23080242   朱浩  男  65  5.0  80  72.0  62.0  71
4   2308024219  23080242   封印  女  73  8.8  92  61.0  47.0  46
5   2308024201  23080242   迟培  男  60  5.0  89  71.0  76.0  71
6   2308024347  23080243   李华  女  67  6.1  84  61.0  65.0  78
7   2308024307  23080243   陈田  男  76  7.9  86  69.0  40.0  69
8   2308024326  23080243   余皓  男  66  6.7  85  65.0  61.0  71
9   2308024320  23080243   李嘉  女  62  0.0  90  60.0  67.0  77
11  2308024342  23080243  李上初  男  76  9.0  84  60.0  66.0  60
12  2308024310  23080243   郭窦  女  79  6.7  84  64.0  64.0  79
13  2308024435  23080244  姜毅涛  男  77  7.1  缺考  61.0  73.0  76
14  2308024432  23080244   赵宇  男  74  7.4  88  68.0  70.0  71
15  2308024446  23080244   周路  女  76  8.0  77  68.0  74.0  80
16  2308024421  23080244  林建祥  男  72  7.2  81  63.0  90.0  75
17  2308024433  23080244  李大强  男  79  7.6  77  78.0  90.0  70
18  2308024428  23080244  李侧通  男  64  9.6  91  69.0  60.0  77
19  2308024402  23080244   王慧  女  73  7.4  93  70.0  71.0  75
20  2308024422  23080244  李晓亮  男  85  6.0  85  72.0  72.0  83

In [39]:
# 3、填充实际案例内容
df['数分'].fillna(df['数分'].mean())

0     40.000000
1     47.000000
2     45.000000
3     72.000000
4     61.000000
5     71.000000
6     61.000000
7     69.000000
8     65.000000
9     60.000000
11    60.000000
12    64.000000
13    61.000000
14    68.000000
15    62.947368
16    63.000000
17    78.000000
18    69.000000
19    70.000000
20    72.000000
Name: 数分, dtype: float64

In [41]:
df['高代'].fillna(df['高代'].mean())

0     23.000000
1     47.000000
2     45.000000
3     62.000000
4     47.000000
5     76.000000
6     65.000000
7     40.000000
8     61.000000
9     67.000000
11    66.000000
12    64.000000
13    73.000000
14    70.000000
15    74.000000
16    90.000000
17    61.736842
18    60.000000
19    71.000000
20    72.000000
Name: 高代, dtype: float64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 20
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   学号      20 non-null     int64
 1   班级      20 non-null     int64
 2   姓名      20 non-null     object
 3   性别      20 non-null     object
 4   英语      20 non-null     int64
 5   体育      20 non-null     float64
 6   军训      20 non-null     object
 7   数分      19 non-null     float64
 8   高代      19 non-null     float64
 9   解几      20 non-null     int64
dtypes: float64(3), int64(4), object(3)
memory usage: 1.7+ KB

In [45]:
df.fillna({'数分':100})

            学号        班级   姓名 性别  英语   体育  军训     数分    高代  解几
0   2308024241  23080242   成龙  男  76  7.8  77   40.0  23.0  60
1   2308024244  23080242   周怡  女  66  9.1  75   47.0  47.0  44
2   2308024251  23080242   张波  男  85  8.1  75   45.0  45.0  60
3   2308024249  23080242   朱浩  男  65  5.0  80   72.0  62.0  71
4   2308024219  23080242   封印  女  73  8.8  92   61.0  47.0  46
5   2308024201  23080242   迟培  男  60  5.0  89   71.0  76.0  71
6   2308024347  23080243   李华  女  67  6.1  84   61.0  65.0  78
7   2308024307  23080243   陈田  男  76  7.9  86   69.0  40.0  69
8   2308024326  23080243   余皓  男  66  6.7  85   65.0  61.0  71
9   2308024320  23080243   李嘉  女  62  0.0  90   60.0  67.0  77
11  2308024342  23080243  李上初  男  76  9.0  84   60.0  66.0  60
12  2308024310  23080243   郭窦  女  79  6.7  84   64.0  64.0  79
13  2308024435  23080244  姜毅涛  男  77  7.1  缺考   61.0  73.0  76
14  2308024432  23080244   赵宇  男  74  7.4  88   68.0  70.0  71
15  2308024446  23080244   周路  女  76  8.0  77  100.0  74.0  80
16  2308024421  23080244  林建祥  男  72  7.2  81   63.0  90.0  75
17  2308024433  23080244  李大强  男  79  7.6  77   78.0   NaN  70
18  2308024428  23080244  李侧通  男  64  9.6  91   69.0  60.0  77
19  2308024402  23080244   王慧  女  73  7.4  93   70.0  71.0  75
20  2308024422  23080244  李晓亮  男  85  6.0  85   72.0  72.0  83

In [54]:
df.fillna(df['数分'].mean())

            学号        班级   姓名 性别  英语   体育  军训         数分         高代  解几
0   2308024241  23080242   成龙  男  76  7.8  77  40.000000  23.000000  60
1   2308024244  23080242   周怡  女  66  9.1  75  47.000000  47.000000  44
2   2308024251  23080242   张波  男  85  8.1  75  45.000000  45.000000  60
3   2308024249  23080242   朱浩  男  65  5.0  80  72.000000  62.000000  71
4   2308024219  23080242   封印  女  73  8.8  92  61.000000  47.000000  46
5   2308024201  23080242   迟培  男  60  5.0  89  71.000000  76.000000  71
6   2308024347  23080243   李华  女  67  6.1  84  61.000000  65.000000  78
7   2308024307  23080243   陈田  男  76  7.9  86  69.000000  40.000000  69
8   2308024326  23080243   余皓  男  66  6.7  85  65.000000  61.000000  71
9   2308024320  23080243   李嘉  女  62  0.0  90  60.000000  67.000000  77
11  2308024342  23080243  李上初  男  76  9.0  84  60.000000  66.000000  60
12  2308024310  23080243   郭窦  女  79  6.7  84  64.000000  64.000000  79
13  2308024435  23080244  姜毅涛  男  77  7.1  缺考  61.000000  73.000000  76
14  2308024432  23080244   赵宇  男  74  7.4  88  68.000000  70.000000  71
15  2308024446  23080244   周路  女  76  8.0  77  62.947368  74.000000  80
16  2308024421  23080244  林建祥  男  72  7.2  81  63.000000  90.000000  75
17  2308024433  23080244  李大强  男  79  7.6  77  78.000000  62.947368  70
18  2308024428  23080244  李侧通  男  64  9.6  91  69.000000  60.000000  77
19  2308024402  23080244   王慧  女  73  7.4  93  70.000000  71.000000  75
20  2308024422  23080244  李晓亮  男  85  6.0  85  72.000000  72.000000  83

In [77]:
df = df.replace({'军训': '缺考'}, 60)
df

            学号        班级   姓名 性别  英语   体育  军训         数分         高代  解几
0   2308024241  23080242   成龙  男  76  7.8  77  40.000000  23.000000  60
1   2308024244  23080242   周怡  女  66  9.1  75  47.000000  47.000000  44
2   2308024251  23080242   张波  男  85  8.1  75  45.000000  45.000000  60
3   2308024249  23080242   朱浩  男  65  5.0  80  72.000000  62.000000  71
4   2308024219  23080242   封印  女  73  8.8  92  61.000000  47.000000  46
5   2308024201  23080242   迟培  男  60  5.0  89  71.000000  76.000000  71
6   2308024347  23080243   李华  女  67  6.1  84  61.000000  65.000000  78
7   2308024307  23080243   陈田  男  76  7.9  86  69.000000  40.000000  69
8   2308024326  23080243   余皓  男  66  6.7  85  65.000000  61.000000  71
9   2308024320  23080243   李嘉  女  62  0.0  90  60.000000  67.000000  77
11  2308024342  23080243  李上初  男  76  9.0  84  60.000000  66.000000  60
12  2308024310  23080243   郭窦  女  79  6.7  84  64.000000  64.000000  79
13  2308024435  23080244  姜毅涛  男  77  7.1  60  61.000000  73.000000  76
14  2308024432  23080244   赵宇  男  74  7.4  88  68.000000  70.000000  71
15  2308024446  23080244   周路  女  76  8.0  77  62.947368  74.000000  80
16  2308024421  23080244  林建祥  男  72  7.2  81  63.000000  90.000000  75
17  2308024433  23080244  李大强  男  79  7.6  77  78.000000  62.947368  70
18  2308024428  23080244  李侧通  男  64  9.6  91  69.000000  60.000000  77
19  2308024402  23080244   王慧  女  73  7.4  93  70.000000  71.000000  75
20  2308024422  23080244  李晓亮  男  85  6.0  85  72.000000  72.000000  83

In [79]:
df.to_excel('data/data_df.xlsx')

In [81]:
df

            学号        班级   姓名 性别  英语   体育  军训         数分         高代  解几
0   2308024241  23080242   成龙  男  76  7.8  77  40.000000  23.000000  60
1   2308024244  23080242   周怡  女  66  9.1  75  47.000000  47.000000  44
2   2308024251  23080242   张波  男  85  8.1  75  45.000000  45.000000  60
3   2308024249  23080242   朱浩  男  65  5.0  80  72.000000  62.000000  71
4   2308024219  23080242   封印  女  73  8.8  92  61.000000  47.000000  46
5   2308024201  23080242   迟培  男  60  5.0  89  71.000000  76.000000  71
6   2308024347  23080243   李华  女  67  6.1  84  61.000000  65.000000  78
7   2308024307  23080243   陈田  男  76  7.9  86  69.000000  40.000000  69
8   2308024326  23080243   余皓  男  66  6.7  85  65.000000  61.000000  71
9   2308024320  23080243   李嘉  女  62  0.0  90  60.000000  67.000000  77
11  2308024342  23080243  李上初  男  76  9.0  84  60.000000  66.000000  60
12  2308024310  23080243   郭窦  女  79  6.7  84  64.000000  64.000000  79
13  2308024435  23080244  姜毅涛  男  77  7.1  60  61.000000  73.000000  76
14  2308024432  23080244   赵宇  男  74  7.4  88  68.000000  70.000000  71
15  2308024446  23080244   周路  女  76  8.0  77  62.947368  74.000000  80
16  2308024421  23080244  林建祥  男  72  7.2  81  63.000000  90.000000  75
17  2308024433  23080244  李大强  男  79  7.6  77  78.000000  62.947368  70
18  2308024428  23080244  李侧通  男  64  9.6  91  69.000000  60.000000  77
19  2308024402  23080244   王慧  女  73  7.4  93  70.000000  71.000000  75
20  2308024422  23080244  李晓亮  男  85  6.0  85  72.000000  72.000000  83