# 数据标准化

常用的归一化方法

In [6]:
# 数据的标准化（归一化）：
# 是数据分析和数据挖掘工作的一项基本工作，不同评价指标往往具有不同的
# 量纲和量纲单位，这样的情况下会影响到数据分析的结果
# 为了消除指标之间的量纲影响，需要进行数据标准化处理

In [ ]:
# min-max标准化
# x *= (x-min)/(max-min)

In [12]:
import pandas as pd
df = pd.read_excel('data/data_df.xlsx',sheet_name='Sheet1')
df

,Unnamed: 0,学号,班级,姓名,性别,英语,体育,军训,数分,高代,解几
0,0,2308024241,23080242,成龙,男,76,7.8,77,40.000000,23.000000,60
1,1,2308024244,23080242,周怡,女,66,9.1,75,47.000000,47.000000,44
2,2,2308024251,23080242,张波,男,85,8.1,75,45.000000,45.000000,60
3,3,2308024249,23080242,朱浩,男,65,5.0,80,72.000000,62.000000,71
4,4,2308024219,23080242,封印,女,73,8.8,92,61.000000,47.000000,46
5,5,2308024201,23080242,迟培,男,60,5.0,89,71.000000,76.000000,71
6,6,2308024347,23080243,李华,女,67,6.1,84,61.000000,65.000000,78
7,7,2308024307,23080243,陈田,男,76,7.9,86,69.000000,40.000000,69
8,8,2308024326,23080243,余皓,男,66,6.7,85,65.000000,61.000000,71
9,9,2308024320,23080243,李嘉,女,62,0.0,90,60.000000,67.000000,77
10,11,2308024342,23080243,李上初,男,76,9.0,84,60.000000,66.000000,60
11,12,2308024310,23080243,郭窦,女,79,6.7,84,64.000000,64.000000,79
12,13,2308024435,23080244,姜毅涛,男,77,7.1,60,61.000000,73.000000,76
13,14,2308024432,23080244,赵宇,男,74,7.4,88,68.000000,70.000000,71
14,15,2308024446,23080244,周路,女,76,8.0,77,62.947368,74.000000,80
15,16,2308024421,23080244,林建祥,男,72,7.2,81,63.000000,90.000000,75
16,17,2308024433,23080244,李大强,男,79,7.6,77,78.000000,62.947368,70
17,18,2308024428,23080244,李侧通,男,64,9.6,91,69.000000,60.000000,77
18,19,2308024402,23080244,王慧,女,73,7.4,93,70.000000,71.000000,75
19,20,2308024422,23080244,李晓亮,男,85,6.0,85,72.000000,72.000000,83

In [14]:
# 首先查看下军训的分数
print(df.军训.max(),df.军训.min(),sep='\n')

93
60

In [16]:
# 提取列明
col = df.columns.tolist()
col

['Unnamed: 0', '学号', '班级', '姓名', '性别', '英语', '体育', '军训', '数分', '高代', '解几']

In [18]:
col[7]

'军训'

In [20]:
# 然后获取：【'英语'，'体育，'军训'，'数分'，'高代'，'解几'】
col[5:]

['英语', '体育', '军训', '数分', '高代', '解几']

In [29]:
for i in col[5:]:
    print(i,df[i].max(),df[i].min(),sep='\t')

英语	85	60
体育	9.6	0.0
军训	93	60
数分	78.0	40.0
高代	90.0	23.0
解几	83	44

In [ ]:
# 对数据分列进行数据标准化，并且展示数据
# min-max标准化
# x*=(x-min)/(max-min)

# 首先对 ‘数据分析’ 列，进行数据标准化
# 再对'军训'列，进行数据标准化

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  20 non-null     int64
 1   学号          20 non-null     int64
 2   班级          20 non-null     int64
 3   姓名          20 non-null     object
 4   性别          20 non-null     object
 5   英语          20 non-null     int64
 6   体育          20 non-null     float64
 7   军训          20 non-null     int64
 8   数分          20 non-null     float64
 9   高代          20 non-null     float64
 10  解几          20 non-null     int64
dtypes: float64(3), int64(6), object(2)
memory usage: 1.8+ KB

In [39]:
sf = df.数分.astype(int)

In [41]:
scale = (sf-sf.min())/(sf.max()-sf.min())
scale

0     0.000000
1     0.184211
2     0.131579
3     0.842105
4     0.552632
5     0.815789
6     0.552632
7     0.763158
8     0.657895
9     0.526316
10    0.526316
11    0.631579
12    0.552632
13    0.736842
14    0.578947
15    0.605263
16    1.000000
17    0.763158
18    0.789474
19    0.842105
Name: 数分, dtype: float64

In [45]:
jx = df.军训

In [47]:
scalejx = (jx-jx.min())/(jx.max()-jx.min())
scalejx

0     0.515152
1     0.454545
2     0.454545
3     0.606061
4     0.969697
5     0.878788
6     0.727273
7     0.787879
8     0.757576
9     0.909091
10    0.727273
11    0.727273
12    0.000000
13    0.848485
14    0.515152
15    0.636364
16    0.515152
17    0.939394
18    1.000000
19    0.757576
Name: 军训, dtype: float64

In [89]:
# 对所以课程进行数据标准化
for i in col[5:]:
    a = df[i].astype(float)
    df[i] = (a-a.min()) / (a.max()-a.min())
df

            学号        班级   姓名 性别   英语   体育   军训   数分   高代   解几
0   2308024241  23080242   成龙  男  0.0  0.0  0.0  0.0  0.0  0.0
1   2308024244  23080242   周怡  女  0.0  1.0  0.0  0.0  0.0  0.0
2   2308024251  23080242   张波  男  1.0  0.0  0.0  0.0  0.0  0.0
3   2308024249  23080242   朱浩  男  0.0  0.0  0.0  0.0  0.0  0.0
4   2308024219  23080242   封印  女  0.0  0.0  0.0  0.0  0.0  0.0
5   2308024201  23080242   迟培  男  0.0  0.0  0.0  0.0  0.0  0.0
6   2308024347  23080243   李华  女  0.0  0.0  0.0  0.0  0.0  0.0
7   2308024307  23080243   陈田  男  0.0  0.0  0.0  0.0  0.0  0.0
8   2308024326  23080243   余皓  男  0.0  0.0  0.0  0.0  0.0  0.0
9   2308024320  23080243   李嘉  女  0.0  0.0  0.0  0.0  0.0  0.0
10  2308024342  23080243  李上初  男  0.0  1.0  0.0  0.0  0.0  0.0
11  2308024310  23080243   郭窦  女  0.0  0.0  0.0  0.0  0.0  0.0
12  2308024435  23080244  姜毅涛  男  0.0  0.0  0.0  0.0  0.0  0.0
13  2308024432  23080244   赵宇  男  0.0  0.0  0.0  0.0  0.0  0.0
14  2308024446  23080244   周路  女  0.0  0.0  0.0  0.0  0.0  0.0
15  2308024421  23080244  林建祥  男  0.0  0.0  0.0  0.0  1.0  0.0
16  2308024433  23080244  李大强  男  0.0  0.0  0.0  1.0  0.0  0.0
17  2308024428  23080244  李侧通  男  0.0  1.0  0.0  0.0  0.0  0.0
18  2308024402  23080244   王慧  女  0.0  0.0  1.0  0.0  0.0  0.0
19  2308024422  23080244  李晓亮  男  1.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
# 将标准化的数据保存

In [ ]:
# 使用 MinMaxScaler 函数来实现标准化数据
import pandas as pd
from sklearn import preprocessing

In [87]:
# 用数据分析和 解析几何来做例子
df0 = pd.DataFrame({'a':[],'b':[]})
df0.columns = ['数分','解几']
df0['数分'] = df['数分']
df0['解几'] = df['解几']
df0.shape
df0

     数分   解几
0   0.0  0.0
1   0.0  0.0
2   0.0  0.0
3   0.0  0.0
4   0.0  0.0
5   0.0  0.0
6   0.0  0.0
7   0.0  0.0
8   0.0  0.0
9   0.0  0.0
10  0.0  0.0
11  0.0  0.0
12  0.0  0.0
13  0.0  0.0
14  0.0  0.0
15  0.0  0.0
16  1.0  0.0
17  0.0  0.0
18  0.0  0.0
19  0.0  1.0